{% extends 'template.html.twig' %}
{% block titlePage%}
liste des personne
{% endblock %}
{% block body%}
<div class='row'>
    {% for personnes in personne %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personnes.nom }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personnes.prenom }} {{ personnes.nom }}</h6>
            <p class="card-text">age: {{ personnes.age }}</p>
            <a href="{{ path('personne.detail',{id: personnes.id}) }}" class="card-link"><i class="fa-solid fa-magnifying-glass"></i></i></a>
            <a href="{{ path('delete',{id: personnes.id}) }}" class="card-link"><i class="fa-solid fa-trash"></i></i></a>
            <a href="{{ path('edit.personne',{id: personnes.id}) }}" class="card-link"><i class="fa-solid fa-user-pen"></i></a>

        </div>
    </div>
    {% endfor %}
    {% if isPaginated is defined and isPaginated %}
        <div class=" d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page !=1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {pages: page-1, nbre: nbre}) }}">Précédent</a></li>
                    {% endif %}
         {% for i in range (1,nbrePage)  %}
             <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {pages: i, nbre: nbre}) }}">{{ i }}</a></li>

         {% endfor %}
                    {% if page !=nbrePage%}
                    <li class="page-item"><a class="page-link" href="{{ path('personne.list.all', {pages: page+1, nbre: nbre}) }}">Suivant</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    {% endif %}
</div>
{% endblock %}
{% block javascripts%}
    <script>
    $(document).ready(function() {
    $('.select2').select2();
    });
    </script>
{% endblock %}